@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Orbitron:wght@400;700&display=swap');

#question {
  border: 5px solid rgb(255, 255, 255);
  transition: transform 0.3s ease, opacity 0.3s ease;
  background: linear-gradient(135deg, #00bcd4,rgb(17, 39, 163));
}

.correct-answer{
  font-weight: bold;
  font-size: 1.2rem;
}

.feedback {
  font-size: 1.1rem;
}