.canvasContainer {
  overflow: hidden;
  color: white;
}

canvas {
  height: 100vh;
}

.velocidadeTranslacao {
  position: absolute;
  background-color: rgba(50, 50, 50, 0.9); /* Fundo escuro semi-transparente */
  width: 250px;
  bottom: 2%;
  right: 1%;
  z-index: 10;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 12px;
}

.inputRange {
  width: 100%;
  appearance: none;
  height: 6px;
  background: linear-gradient(90deg,rgb(90, 196, 94),rgb(0, 140, 255));
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}

.inputRange::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 2px solid #4caf50;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}