.navbar {
  color: white;
  /* background-color: #181818; */
  position: fixed;
  width: 100%;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
  z-index: 1;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #ff6822;
  transition: all 0.2s ease-in-out;
}

.active {
  color: #ff9361;
}