#gameOver {
  background: linear-gradient(135deg, #00bcd4,rgb(17, 39, 163));
  color: #fff;
  padding: 40px;
  border: 5px solid #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  max-width: 500px;
  margin: auto;
  animation: fadeIn 1s ease;
}

#gameOver h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

#gameOver p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

